// Normally mainpage styles
.out
	background-image: linear-gradient(to top, #7d2c72 0%, #c179ab 33%, #b674a9 66%, #2aa3e7 100%)
.top
	position: relative
	background-color: #9eb6d4 
	background: url(../img/top-bg.png) no-repeat top center
	// background-size: cover
	min-height: 884px
.inner
	max-width: 980px
	padding: 70px 20px 0
	width: 100%
	margin: auto
.top__pic
	text-align: center
	+hide-text
	img
		display: inline-block
.go-in
	padding: 18px 19px
	background-color: #b7176e
	border-radius: 3px
	margin: auto
	position: relative
	margin-top: 29px
	max-width: 620px
	.row
		font-size: 0
	[class^="col"],
	[class*="col"]
		display: inline-block
		vertical-align: top
	.col1 
		padding-right: 18px
		width: 78%
		+r(1024)
			width: 65%
		+r(450)
			width: 100%
			padding-right: 0
			margin-bottom: 10px
	.col2
		width: 22%
		+r(1024)
			width: 35%
		+r(450)
			width: 100%
	.btn 
		text-transform: uppercase
		background-color: $blue
		width: 100%
.mail-form-wrp
	position: absolute
	right: 14px
.mail-form
	width: 200px
	height: 172px
	padding: 15px 10px 20px
	text-align: center
	background-color: $magenta2
	border-radius: 5px
	z-index: 9900
	right: 14px
	opacity: 0
	&.is-active
		opacity: 1
		+tr(opacity .4s ease)
	.mail-form__top
		+proxima-regular
		font-size: 11px
		color: #fff
		text-align: center
		margin-bottom: 18px
	.input-text
		font-size: 13px
		+proxima-regular
		margin-bottom: 18px
	.btn
		background-color: #3d0122
		+proxima-bold
		width: 115px
.spoof
	position: relative
	font-size: 0
	text-align: center
	.spoof__in
		margin: auto
		max-width: 990px
		padding: 43px 20px 55px
	.btn-buy
		margin: 81px 0 92px
.spoof__title
	font: 700 58px "Arial Bold", sans-serif
	color: $magenta
	text-transform: uppercase
	margin-bottom: -78px
	position: relative
	z-index: 1
	+r(1024)
		font-size: 47px
	+r(900)
		font-size: 40px
	+r(400)
		font-size: 32px
	span
		color: #fdfdfd
		display: block
		text-transform: lowercase
		margin-top: 5px
.spoof__pic
	position: relative
.spoof__bottom
	position: relative
	text-align: center
	font-size: 35px
	color: #fdfdfd
	line-height: 1
	max-width: 840px
	margin: -170px auto 49px
	position: relative
	z-index: 1
	+bold
	span
		font-size: 40px
		color: $magenta
		



.share-wrp
	position: relative
	.time-b
		position: absolute
		top: 144px
		left: -43px
		+r(1100)
			display: block
			position: relative
			padding: 30px 0
			text-align: center
			top: inherit
			left: inherit
		+r(700)
			padding: 15px 0
		+r(500)
			text-align: left
		.time-b__item
			+r(1100)
				display: inline-block
.share
	position: relative
	.share__in
		max-width: 980px
		margin: auto
		padding: 0 20px 137px
		+r(1024)
			padding-bottom: 50px
		&.share__in_no-space
			padding-bottom: 0
.logos-wrp
	position: relative
.logos
	max-width: 940px
	background-color: white
	border-radius: 10px
	margin: auto
	text-align: left
	padding: 15px 20px
	&.logos_bg-first
		background: url(../img/logos-bg.png) repeat center 
	&.logos_bg-second
		background: url(../img/logos-bg2.png) repeat center 
	+r(900)
		padding: 25px
	+r(790)
		padding: 30px 25px
	+r(600)
		padding: 15px
.logos__top
	color: #fff
	+bold
	font-size: 25px
	margin-bottom: 20px
	position: absolute
	text-align: center
	display: inline-block
	width: 130px
	height: 165px
	z-index: 1
	padding: 15px 10px
	letter-spacing: -0.01em 
	background: url(../img/logos-top.png) no-repeat center top 
	top: 0
	left: 60px
	+r(1024)
		font-size: 35px
	+r(790)
		font-size: 32px
		padding-top: 0
	+r(600)
		font-size: 28px
	+r(500)
		font-size: 22px
	+r(380)
		font-size: 20px
	+r(340)
		font-size: 18px
	
.bottom
	position: relative
	.btn-main
		display: block
		margin: 174px auto 70px

@keyframes show 
	0%
		opacity: 0
	100%
		opacity: 1
