<div class="share-wrp">
	<section class="share">
		<div class="share__in">
			<div class="logos-wrp">
				<div class="logos logos_top-spacing js-six">
					<div class="logos__top">
						Акции стартуют в 6:00
					</div>
					<img src="img/brands1.png" alt="">
				</div>
				<div class="time-b js-time">
					<div class="time-b__container">
						<a href=".js-six" class="time-b__item"><span>6:00</span></a>
						<a href=".js-twelve" class="time-b__item"><span>12:00</span></a>
						<a href=".js-sixteen" class="time-b__item"><span>16:00</span></a>
						<a href=".js-twenty" class="time-b__item"><span>20:00</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="share">
		<div class="share__in">
			<div class="logos-wrp">
				<div class="logos js-twelve">
					<div class="logos__top">
						Акции стартуют в 12:00
					</div>
					<img src="img/brands2.png" alt="">
				</div>
				<div class="time-b js-time">
					<div class="time-b__container">
						<a href=".js-six" class="time-b__item"><span>6:00</span></a>
						<a href=".js-twelve" class="time-b__item"><span>12:00</span></a>
						<a href=".js-sixteen" class="time-b__item"><span>16:00</span></a>
						<a href=".js-twenty" class="time-b__item"><span>20:00</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="share">
		<div class="share__in">
			<div class="logos-wrp">
				<div class="logos js-sixteen">
					<div class="logos__top">
						Акции стартуют в 16:00
					</div>
					<img src="img/brands3.png" alt="">
				</div>
				<div class="time-b js-time">
					<div class="time-b__container">
						<a href=".js-six" class="time-b__item"><span>6:00</span></a>
						<a href=".js-twelve" class="time-b__item"><span>12:00</span></a>
						<a href=".js-sixteen" class="time-b__item"><span>16:00</span></a>
						<a href=".js-twenty" class="time-b__item"><span>20:00</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="share">
		<div class="share__in">
			<div class="logos-wrp">
				<div class="logos js-twenty">
					<div class="logos__top">
						Акции стартуют в 20:00
					</div>
					<img src="img/brands4.png" alt="">
				</div>
				<div class="time-b js-time">
					<div class="time-b__container">
						<a href=".js-six" class="time-b__item"><span>6:00</span></a>
						<a href=".js-twelve" class="time-b__item"><span>12:00</span></a>
						<a href=".js-sixteen" class="time-b__item"><span>16:00</span></a>
						<a href=".js-twenty" class="time-b__item"><span>20:00</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>